extends layout

block content
  h1= title
  p Welcome to #{title}
  p You have found the main page for the suplexAPI.
  a(href='http://github.com/RobCoInc/server/issues/new') Create a GitHub issue
  br
  br
  br
  dl Endpoints:
    dd
      a(href='/api/users') users
